@font-face {
  font-family: "BwModelica-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("BwModelica-Regular"), url("../font/BwModelica-Regular.f38fb57a.woff") format("woff");
}
@font-face {
  font-family: "BwModelica-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("BwModelica-Bold"), url("../font/BwModelica-Bold.c72a676a.woff") format("woff");
}
@font-face {
  font-family: "BwModelica-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("BwModelica-Medium"), url("../font/BwModelica-Medium.a067e37d.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Regular"), url("../font/Helvetica Neue Regular.37c648ef.woff") format("woff");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: #0C1821;
  font-family: "BwModelica-Bold";
  border-bottom: 1px solid #00A1E0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #ffff;
}

.container {
  margin: 0 auto 0 auto;
  max-width: 104.9em;
}
@media screen and (max-width: 104.9em) {
  .container {
    max-width: 90em;
  }
}
@media screen and (max-width: 90em) {
  .container {
    max-width: 80em;
  }
}
@media screen and (max-width: 80em) {
  .container {
    max-width: 65em;
  }
}
@media screen and (max-width: 65em) {
  .container {
    max-width: 50em;
  }
}
@media screen and (max-width: 50em) {
  .container {
    max-width: 35em;
  }
}
@media screen and (max-width: 600px) {
  .container {
    margin: 0 16px;
  }
}

.headerrow {
  display: flex;
  align-items: center;
}
.headerrow div:nth-of-type(1) {
  flex-grow: 1;
}
.headerrow div:nth-of-type(2) {
  flex-grow: 5;
}
.headerrow div:nth-of-type(3) {
  flex-grow: 1;
}
@media screen and (max-width: 600px) {
  .headerrow {
    justify-content: space-between;
  }
  .headerrow div:nth-of-type(1) {
    flex-grow: 0;
  }
  .headerrow div:nth-of-type(2) {
    flex-grow: 0;
  }
  .headerrow div:nth-of-type(3) {
    flex-grow: 0;
  }
}
.headerrow img {
  margin: 1.5rem 0 1.5rem 0;
}
.headerrow .left-nav ul {
  display: flex;
  transition: ease 1s all;
}
@media screen and (max-width: 65em) {
  .headerrow .left-nav ul {
    opacity: 0;
    visibility: none;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    max-height: 0px;
    top: 101%;
    flex-direction: column;
    background-color: #6D6F73;
    margin-left: -100%;
  }
  .headerrow .left-nav ul li {
    padding-top: 1.5rem;
    display: flex;
  }
  .headerrow .left-nav ul.active {
    opacity: 1;
    max-height: 500px;
    background-color: #0C1821;
    margin-left: 0%;
  }
  .headerrow .left-nav ul.active li {
    display: block;
  }
  .headerrow .left-nav ul.active li a {
    display: block;
  }
}
.headerrow .left-nav a {
  position: relative;
  color: #ffff;
  font-size: 18px;
  margin: 0 2rem 0 2rem;
  padding: 0 0 2.5rem 0;
}
.headerrow .left-nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  background: #00A1E0;
  transition: 0;
  width: 0;
}
.headerrow .left-nav a:hover:after {
  width: 100%;
  left: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.headerrow .left-nav li:nth-child(3) a {
  pointer-events: none;
  padding: 0 0 2rem 0;
  border-bottom: 7px solid #00A1E0;
}
.headerrow .right-nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.headerrow .right-nav a {
  color: #00A1E0;
  font-size: 18px;
}
@media screen and (min-width: 1041px) {
  .headerrow .right-nav a:first-of-type {
    display: none;
  }
}
.headerrow .right-nav i {
  color: #ffff;
  font-size: 2rem;
  padding-left: 3rem;
}
@media screen and (max-width: 65em) {
  .headerrow .right-nav i.active {
    color: #00A1E0;
  }
}

.mainsec {
  background-color: #0C1821;
  font-family: "BwModelica-Bold";
  height: 1000px;
  margin-top: 3em;
  display: flex;
}
@media screen and (max-width: 600px) {
  .mainsec {
    height: 801px;
  }
}
.mainsec .container {
  width: 100%;
}
.mainsec .container .column-1 {
  padding-top: 11em;
  width: 40%;
  color: #ffff;
}
.mainsec .container .column-1 h1 {
  font-size: 70px;
  word-spacing: 10rem;
  line-height: 6rem;
}
@media screen and (max-width: 600px) {
  .mainsec .container .column-1 {
    width: auto;
    padding-right: 0;
    padding-top: 6em;
  }
  .mainsec .container .column-1 h1 {
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    word-spacing: 0;
  }
}
.mainsec .container .column-1 img {
  margin-top: 14em;
  width: auto;
}
@media screen and (max-width: 600px) {
  .mainsec .container .column-1 img {
    width: 254px;
    height: 254px;
    position: absolute;
    top: 0;
    margin-top: 43em;
  }
}
.mainsec .column-2 {
  position: absolute;
  padding-top: 13em;
  right: 0;
}
.mainsec .column-2 img:nth-of-type(2) {
  display: none;
}
@media screen and (max-width: 600px) {
  .mainsec .column-2 img:nth-of-type(1) {
    display: none;
  }
  .mainsec .column-2 img:nth-of-type(2) {
    display: block;
    width: 271px;
    height: 392px;
  }
}

.subsec .container .textbox {
  margin-top: 25em;
  display: flex;
  color: #0C1821;
}
@media screen and (max-width: 600px) {
  .subsec .container .textbox {
    margin-top: 9em;
    display: block;
  }
}
.subsec .container .textbox h2 {
  width: 56%;
  border-top: 10px solid #00A1E0;
  border-bottom: 10px solid #00A1E0;
  padding: 3rem 0 3rem 0;
  line-height: 1.2;
  font-family: "BwModelica-Bold";
  font-size: 76px;
}
@media screen and (max-width: 600px) {
  .subsec .container .textbox h2 {
    padding: 1rem 0 1rem 0;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    width: 100%;
  }
}
.subsec .container .textbox p {
  width: 44%;
  padding: 3rem 14rem 0 14rem;
  font-family: "BwModelica-Medium";
  font-size: 20px;
  line-height: 1.6;
}
@media screen and (max-width: 600px) {
  .subsec .container .textbox p {
    width: 100%;
    padding: 0;
    font-size: 16px;
    font-stretch: normal;
    line-height: 1.75;
    margin-top: 2.5rem;
  }
}
.subsec img:nth-of-type(1) {
  margin-top: 9rem;
  width: 100%;
}
.subsec img:nth-of-type(2) {
  display: none;
}
@media screen and (max-width: 600px) {
  .subsec img:nth-of-type(1) {
    display: none;
  }
  .subsec img:nth-of-type(2) {
    display: block;
    margin-top: 5rem;
    height: 220px;
    width: 100%;
  }
}

.sectorsec {
  color: #0C1821;
  padding: 7rem 0 4rem 0;
  background-color: #F3F3F5;
}
@media screen and (max-width: 600px) {
  .sectorsec {
    padding: 80px 0 40px 0;
  }
}
.sectorsec h2 {
  font-size: 60px;
  font-family: "BwModelica-Bold";
  margin-bottom: 5rem;
}
@media screen and (max-width: 600px) {
  .sectorsec h2 {
    font-size: 24px;
    font-stretch: normal;
    line-height: 1.25;
    margin-bottom: 2rem;
  }
}
.sectorsec div:not(.container) {
  border-top: 1px solid #cccccc;
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  font-size: 36px;
  font-family: "BwModelica-Regular";
}
@media screen and (max-width: 600px) {
  .sectorsec div:not(.container) {
    font-size: 14px;
    font-style: normal;
    line-height: 2.14;
    padding: 24px 0;
  }
}
.sectorsec div:not(.container) i {
  color: #00A1E0;
  font-size: 50px;
  margin-right: 2rem;
}
@media screen and (max-width: 600px) {
  .sectorsec div:not(.container) i {
    font-size: 24px;
    margin-right: 12px;
  }
}

.slidersec {
  padding: 5rem 0 13rem 0;
}
@media screen and (max-width: 600px) {
  .slidersec {
    padding: 3rem 0 4rem 0;
    position: relative;
  }
}
.slidersec h2 {
  font-family: "BwModelica-Bold";
  font-size: 60px;
  margin-bottom: 4rem;
}
@media screen and (max-width: 600px) {
  .slidersec h2 {
    font-size: 36px;
    line-height: 0.83;
    margin-bottom: 2rem;
  }
}
.slidersec .sliderdiv {
  display: flex;
}
@media screen and (max-width: 600px) {
  .slidersec .sliderdiv {
    display: block;
    position: relative;
  }
}
.slidersec .sliderdiv #radio1:checked ~ .first {
  margin-left: 0;
}
.slidersec .sliderdiv #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #0C1821;
}
.slidersec .sliderdiv #radio2:checked ~ .first {
  margin-left: -20%;
}
.slidersec .sliderdiv #radio2:checked ~ .navigation-manual .manual-btn {
  display: none;
}
.slidersec .sliderdiv #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #0C1821;
}
.slidersec .sliderdiv #radio3:checked ~ .first {
  margin-left: -40%;
}
.slidersec .sliderdiv #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #0C1821;
}
.slidersec .sliderdiv #radio4:checked ~ .first {
  margin-left: -60%;
}
.slidersec .sliderdiv #radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #0C1821;
}
.slidersec .sliderdiv #radio5:checked ~ .first {
  margin-left: -80%;
}
.slidersec .sliderdiv #radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #0C1821;
}
.slidersec .sliderdiv .slider {
  width: 51%;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .slidersec .sliderdiv .slider {
    width: 100%;
  }
}
.slidersec .sliderdiv .slider .slides {
  width: 500%;
  height: 100%;
  display: flex;
}
.slidersec .sliderdiv .slider .slides input {
  display: none;
}
.slidersec .sliderdiv .slider .slides .slide {
  width: 20%;
  transition: 2s;
}
.slidersec .sliderdiv .slider .slides .slide img {
  width: 100%;
  height: 100%;
}
.slidersec .sliderdiv .slider .slides .navigation-auto {
  position: absolute;
  display: flex;
  width: 40%;
  justify-content: start;
  margin-top: 43.25rem;
}
@media screen and (max-width: 600px) {
  .slidersec .sliderdiv .slider .slides .navigation-auto {
    width: 95%;
    margin-top: 0;
    justify-content: space-around;
    bottom: 295px;
    margin-left: 23px;
  }
}
@media screen and (max-width: 485px) {
  .slidersec .sliderdiv .slider .slides .navigation-auto {
    bottom: 340px;
  }
}
@media screen and (max-width: 422px) {
  .slidersec .sliderdiv .slider .slides .navigation-auto {
    bottom: 370px;
  }
}
@media screen and (max-width: 349px) {
  .slidersec .sliderdiv .slider .slides .navigation-auto {
    bottom: 422px;
  }
}
.slidersec .sliderdiv .slider .slides .navigation-auto div {
  background-color: #F3F3F5;
  padding: 20px;
  transition: 1s;
  margin-right: 25px;
}
.slidersec .sliderdiv .slider .navigation-manual {
  position: absolute;
  width: 75%;
  margin-top: 3rem;
  display: flex;
  justify-content: start;
}
@media screen and (max-width: 600px) {
  .slidersec .sliderdiv .slider .navigation-manual {
    width: 95%;
    justify-content: space-around;
    bottom: 295px;
    margin-left: 23px;
  }
}
@media screen and (max-width: 485px) {
  .slidersec .sliderdiv .slider .navigation-manual {
    bottom: 340px;
  }
}
@media screen and (max-width: 422px) {
  .slidersec .sliderdiv .slider .navigation-manual {
    bottom: 370px;
  }
}
@media screen and (max-width: 349px) {
  .slidersec .sliderdiv .slider .navigation-manual {
    bottom: 422px;
  }
}
.slidersec .sliderdiv .slider .navigation-manual .manual-btn {
  padding: 20px;
  cursor: pointer;
  transition: 1s;
  margin-right: 25px;
}
.slidersec .sliderdiv .slider .navigation-manual .manual-btn:hover {
  background-color: #cccccc;
}
.slidersec .sliderdiv .slider .navigation-manual hr {
  width: 37%;
  height: 100%;
  margin: 0;
  margin-top: 1.2rem;
}
@media screen and (max-width: 600px) {
  .slidersec .sliderdiv .slider .navigation-manual hr {
    display: none;
  }
}
.slidersec .sliderdiv .textbox {
  width: 35%;
  padding: 0 9% 0 5%;
}
@media screen and (max-width: 600px) {
  .slidersec .sliderdiv .textbox {
    width: 100%;
    padding: 0;
    margin-top: 10rem;
  }
}
.slidersec .sliderdiv .textbox h3 {
  font-family: "BwModelica-Bold";
  font-size: 48px;
}
@media screen and (max-width: 600px) {
  .slidersec .sliderdiv .textbox h3 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
  }
}
.slidersec .sliderdiv .textbox p {
  font-family: "BwModelica-Medium";
  font-size: 22px;
  line-height: 1.6;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .slidersec .sliderdiv .textbox p {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
  }
}

.subfooter {
  background-color: #F3F3F5;
  padding-top: 10rem;
  padding-bottom: 25rem;
}
@media screen and (max-width: 600px) {
  .subfooter {
    background-color: #0C1821;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2rem;
    margin-bottom: 8rem;
    position: relative;
  }
}
.subfooter .contactcard {
  padding: 5rem 20rem 5rem 5rem;
  color: #ffff;
  background-color: #0C1821;
  margin-right: 30rem;
}
@media screen and (max-width: 600px) {
  .subfooter .contactcard {
    margin-right: 0;
    padding: 2rem 0 11rem 0;
  }
}
.subfooter .contactcard h2 {
  font-family: "BwModelica-Bold";
  font-size: 60px;
  line-height: 1.2;
}
@media screen and (max-width: 600px) {
  .subfooter .contactcard h2 {
    font-size: 24px;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    padding-right: 4rem;
  }
}
.subfooter .contactcard .button {
  margin-top: 8rem;
  color: #ffff;
  font-family: "BwModelica-Medium";
  font-size: 1.3rem;
  border: 1px solid #ffff;
  box-sizing: border-box;
  padding: 1.5rem;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .subfooter .contactcard .button {
    font-size: 18px;
    font-stretch: normal;
    line-height: 1.22;
  }
}
.subfooter .contactcard .button i {
  padding-left: 2rem;
}
@media screen and (max-width: 600px) {
  .subfooter .contactcard .button {
    margin-top: 3.5rem;
  }
}
.subfooter .container {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .subfooter .container {
    display: inline-block;
  }
}
.subfooter .container img {
  z-index: 0;
  position: absolute;
  margin-left: 29rem;
  margin-top: 15rem;
}
@media screen and (max-width: 600px) {
  .subfooter .container img {
    margin-left: 0;
    margin-top: 0;
    height: 196px;
    width: auto;
    top: 265px;
    right: 0;
  }
}

.footer {
  background-color: #0C1821;
  color: #ffff;
}
.footer .container .interior {
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 600px) {
  .footer .container .interior {
    display: inline-block;
    text-align: center;
    padding: 60px 1rem 40px 1rem;
  }
}
.footer .container .interior .column1 p:last-of-type {
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column1 p:last-of-type {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
  }
}
.footer .container .interior .column1 {
  width: 35%;
  padding-right: 5rem;
  font-family: "BwModelica-Regular";
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column1 {
    width: auto;
    padding-right: 5rem;
  }
}
.footer .container .interior .column1 .info {
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column1 .info {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 2.33;
  }
}
.footer .container .interior .column1 p {
  margin: 2rem 0 2rem 0;
  line-height: 24px;
  display: flex;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column1 p {
    display: block;
    font-size: 12px;
    font-stretch: normal;
    line-height: 2;
    margin: 2rem 0 0 0;
  }
}
.footer .container .interior .column1 .text {
  margin-top: 3rem;
  width: 60%;
}
.footer .container .interior .column1 .text p {
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column1 .text {
    margin-top: 0;
    width: auto;
  }
  .footer .container .interior .column1 .text p {
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
  }
}
.footer .container .interior .column1 .botcolumn {
  align-self: flex-end;
  margin: 4rem 0 8rem 0;
}
.footer .container .interior .column1 .botcolumn p {
  padding-left: 1rem;
}
.footer .container .interior .column1 .botcolumn a:last-of-type {
  margin-right: 0;
}
.footer .container .interior .column1 .botcolumn i {
  font-size: 36px;
}
.footer .container .interior .column1 .botcolumn a {
  margin-right: 2rem;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column1 .botcolumn {
    align-self: center;
    margin: 0;
  }
  .footer .container .interior .column1 .botcolumn .subsicons {
    margin: 2rem 0 3rem 0;
  }
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column1 .copyright {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column1 {
    width: auto;
    padding-right: 0;
  }
  .footer .container .interior .column1 img {
    height: 50px;
  }
}
.footer .container .interior .column2 {
  font-size: 18px;
  font-family: "BwModelica-Bold";
  border-top: 10px solid #00A1E0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 11rem;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column2 {
    border-top: none;
    padding-bottom: 0;
  }
}
.footer .container .interior .column2 .topcolumn {
  align-self: flex-start;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto auto;
  row-gap: 105%;
  column-gap: 45%;
  margin-right: 20rem;
}
.footer .container .interior .column2 .topcolumn a {
  position: relative;
  padding-bottom: 0.6rem;
}
.footer .container .interior .column2 .topcolumn a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  background: #00A1E0;
  transition: 0;
  width: 0;
}
.footer .container .interior .column2 .topcolumn a:hover:after {
  width: 100%;
  left: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column2 .topcolumn {
    display: none;
  }
}
.footer .container .interior .column2 .button {
  color: #ffff;
  font-family: "BwModelica-Medium";
  font-size: 1.3rem;
  border: 1px solid #ffff;
  box-sizing: border-box;
  padding: 1.5rem;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column2 .button {
    font-size: 18px;
    font-stretch: normal;
    line-height: 1.22;
  }
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column2 .button {
    font-size: 18px;
    font-stretch: normal;
    line-height: 1.22;
  }
}
.footer .container .interior .column2 .button i {
  padding-left: 2rem;
}
.footer .container .interior .column2 .copyright-mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .footer .container .interior .column2 .copyright-mobile {
    margin-top: 4rem;
    display: block;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    font-family: "BwModelica-Regular";
  }
}
